.lang {
    display: flex;

    &__shortcut {
        font-weight: 300;
        font-size: 1.3rem;
    }

    &__switcher {

    }

    &__field {
        display: none;

        &:checked + .lang__label::before {
            left: 19px;
        }
    }

    &__label {
        @include size(34px, 16px);

        border: 1px solid #262626;
        border-radius: 20px;
        display: block;
        position: relative;
        margin: 0 5px;

        &::before {
            @include size(11px);
            @include pos($t: 1px, $l: 2px);
            content: '';
            background: #1b1b1b;
            border-radius: 50%;
            transition: all .3s;
        }
    }
}

// Desktop Version
@media (min-width: $mobile) {
    .lang {
        &__label {
            cursor: pointer;
        }
    }
}