.title {
    text-align: center;
    margin-bottom: 25px;

    &__main {
        font: 700 30px $font-title;
        color: #bdbdbd;
        margin-bottom: 5px;
    }

    &__sub {
        font-size: 18px;
    }
}