// Fonts
$font: 'Yanone Kaffeesatz', sans-serif;
$font-head: 'Montserrat', sans-serif;
$font-title: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

$mobile: 820px;
$mobile-sm: 500px;