.header {
    background: url('../images/header-mobile.jpg') no-repeat bottom center;
    background-size: cover;
    overflow-x: hidden;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        padding: 20px 20px 50px;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font: 900 1.875rem/2.1875rem $font-head;
        text-align: center;
        text-transform: uppercase;
        -webkit-text-stroke: 1px rgba(0, 0, 0, .4);
        color: transparent;
    }

    &__info {
        margin: 0 15px;
    }

    &__subtitle {
        font: 800 1.875rem/2.1875rem $font-head;
        text-transform: uppercase;
        color: #fff;
    }

    &__text {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #fff;
        margin-right: 30%;
    }

    &__btn {
        text-align: center;
    }
}

// Desktop Version
@media (min-width: $mobile) {
    .header {
        background-image: url('../images/header.jpg');

        &__title {
            font-size: 3.8rem;
            line-height: 3.8rem;
            text-align: left;
            margin-bottom: 15vh;
        }

        &__info {
            margin: 0;
        }

        &__subtitle {
            font-size: 3rem;
            line-height: 3rem;
        }

        &__text {
            font-size: 1.5rem;
            line-height: 1.9rem;
            margin-right: 65%;
        }

        &__btn {
            text-align: left;
            margin-bottom: 15vh;
        }

        &__wrap {
            padding-bottom: 10px;
            position: relative;
        }
    }
}

// Mobile landscape Version
@media (min-width: $mobile-sm) and (max-width: $mobile) {
    .header {
        background-image: url('../images/header-tablet.jpg');

        &__info {
            text-align: center;
        }

        &__text {
            margin-right: 0;
        }
    }
}